html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 20px 0;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: #3e94ec;
}

button:disabled {
  opacity: 0.5;
}
header {
  position: relative;
  min-height: 60px;
}
header .logo {
  position: absolute;
  top: 0;
}
header .logo img {
  margin: 0 15px 15px 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
h1 {
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  margin: 0 0 40px 0;
}
