html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 20px 0;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: #3e94ec;
}

button:disabled {
  opacity: 0.5;
}
header {
  position: relative;
  min-height: 60px;
}
header .logo {
  position: absolute;
  top: 4px;
}
header .logo img {
  margin: 0 15px 15px 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
header nav a {
  text-transform: uppercase;
  font-size: 15px;
}
h1 {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px 0;
}
.page-container {
  background: #fff;
  padding: 20px;
}
.code {
  font-style: italic;
  background: #f1f1f1;
  display: inline-block;
  padding: 5px;
}
